#wrapper {
	margin: auto;
	width: 1440px;
}
input {
	width: 50px;
}
svg {
	border: 1px solid gray;
	border-radius: 10px;
	height: 600px;
	width: 1000px;
	margin: 5px;
}
#linechart {
	width: 400px;
}

html {
	font-family: "Trebuchet MS", sans-serif;
}

.countrymap {
	stroke: black;
}

h2,
h3 {
	text-align: center;
}

.x-axis line,
.x-axis path {
	stroke: #fff;
}

path:hover {
	stroke: cyan;
	stroke-width: 1;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.y-axis-line .domain {
	stroke: white;
}

.x-axis-line .domain {
	stroke: black;
	stroke-width: 2;
}

#lineChart .tick line,
#lineChar .tick text {
	stroke-width: 2;
	stroke: gray;
}

.y-axis-line .tick {
	stroke-dasharray: 10, 10;
}

.tooltip-gdp {
	position: absolute;
	text-align: left;
	padding: 0.5rem;
	background: #ffffff;
	color: #000000;
	border: 3px solid #000000;
	border-radius: 10px;
	pointer-events: none;
	font-size: 1.3rem;
}
