svg {
    width: 800px;
    height: 500px;  
}

rect {
    fill: red;
    
}


.axis-label {
    font-size:1.0em;
    font-family:sans-serif;
}

.graph-title{
    font-size: 1.6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}